//? Header
// Styling della view app.blade.php
header {
    .banner{
        display: none;
    }
    .navbar_elements {
        display: none;
    }
    .navbar nav {

        small {
            display: inline-block;
            color: black;
        }

        i {
            display: none;
        } 
    }
}

//?? COMMON STYLE
.card{
    width: 70%;
    margin: auto;
    border-radius: 15px;
    background-color: rgba($pallette_yellow_dark, $alpha: 0.4);
    
    .card-header{
        background-color: rgba($pallette_orange, $alpha: 0.5);
        padding: 0;
        h2{
            font-size: $font_titles_m;
            text-align: center;
            color: $pallette_red;
            text-shadow: 1px 1px 2px black;  
            padding: 5px 0;                  
        }
    }   
    .card-body{
        padding: 20px;

        form label:not(label[for=remember]){
            font-size: $font_text_s;
            color: $pallette_red;
            text-shadow: 1px 1px 2px black;

        }
    }
    
}
.card-header:first-child {
    border-radius: 15px 15px 0 0;
}


//? LOGIN
.container.login{
    display: block;
    .login_windows {
        padding-top: 150px;
        height: 100vh;
    }
    .card-body{
        
        form label:not(label[for=remember]){
            font-size: $font_text_s;
            color: $pallette_red;
            text-transform: capitalize;
            text-shadow: 1px 1px 2px black;
        }

        .forgotten_pw{
            text-align: right;
        }
        .bottoni{
            display: flex;
            line-height: 26px;
            justify-content: space-between;
        }
        .reg_hover {
            position: relative;
            display: none;
            background-color: red;
            padding: 15px;
        }
        .reg_hover:hover {
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;

        };
    }
}

// ? RESET
.email_container{
    width: 90%;
    margin: auto;
    margin-top: 30vh;
    margin-bottom: 30vh;
    display: block;

    label {
        padding-top: 20px;
    }
}


// !! REGISTER
.big_contenitore {
    margin: 200px auto;

    .card-header{
        background-color: rgba($pallette_orange, $alpha: 0.5);
        padding: 0;
        h2{
            font-size: $font_titles_m;
            text-align: center;
            color: $pallette_red;
            text-shadow: 1px 1px 2px black;  
            padding: 5px 0;                  
        }
    }

    .card-body{
        form label {
            font-size: $font_text_m;
            color: $pallette_red;
            text-shadow: 1px 1px 2px black;
        }
    }
    .access_register{
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
    }
}
