.big_contenitore {
    margin: 200px auto;

    .card-header{
        background-color: rgba($pallette_orange, $alpha: 0.5);
        padding: 0;
        h2{
            font-size: $font_titles_m;
            text-align: center;
            color: $pallette_red;
            text-shadow: 1px 1px 2px black;  
            padding: 5px 0;                  
        }
    }

    .card-body{
        form label {
            font-size: $font_text_m;
            color: $pallette_red;
            text-shadow: 1px 1px 2px black;
        }
    }
}
