footer {
    background-color: $pallette_yellow_dark;
    background-image: url(img/footer_skyline.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
    .footer_container {
        width: $div_size;
        margin: auto;
        padding: 5% 0;
        display: flex;
        justify-content: space-between;
    
        h3,h4 {
            position: relative;
            color: $pallette_red;
            margin-top: 0;
            font-size: $font_text_s;
            margin: 20px 0 10px 0;
            text-transform: uppercase;
            font-weight: bolder;
            text-shadow: 1px 1px 2px black;
        }

        ul {
            margin-top: 30px;
            li {
                list-style: none;
                color: black;
                line-height: $font_text_l;
                padding: 10px 5px;
            }
        }

        .footer_col {
            width: 30%;
            margin: 0 20px;

            &#foot_col1 {

                ul {
                    display: flex;
                    margin-top: -10px;
                    justify-content: space-between;
    
                    li {

                        
                        display: inline-block;
                        list-style: none;
                        margin: 20px 10px 0 5px;
                    }
                }
                img{
                    width: 100%;
                }
                h4::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -10px;
                    height: 2px;
                    background-color: $pallette_red;
                    box-shadow: 1px 1px 2px rgb(0, 0, 0);
                }
            }
    
            h3 {
                font-size: $font_text_m;
            }

            h3::after{
                content: "";
                position: absolute;
                left: 0;
                right: 80%;
                bottom: -10px;
                height: 2px;
                background-color: $pallette_red;
                box-shadow: 1px 1px 2px rgb(0, 0, 0);
            }
            &#foot_col2 {
                position: relative;

                i {
                    padding: 0 5px;
                    color : $pallette_yellow;
                    font-size: $font_text_l;
                }
    
                .slider_comments {
                    position: absolute;
                    bottom: 0;
                    background-color: rgba($color: $pallette_yellow, $alpha: 0.5);

                    p {
                        text-align: center;
                        vertical-align: middle;
                        width: 75%;
                        margin: auto;
                        padding: 25px 10px;
                    }
                }
            }
        }
    }

    .footer_row {
        margin-top: 100px;
        background-color: #241e20;
        padding: 5px 0;

        ul {
            li {
                position: relative;
                display: inline-block;
                font-size: $font_text_xs;
                color: #a8a9ae;
                padding: 5px 10px;
            }

            li::after {
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                bottom: 0;
                width: 1px;
                height: 15px;
                background-color: #a8a9ae;
            }

            li#copyright {
                i {
                    color: inherit;
                    padding: 0 10px;
                }
            
                &::after {
                    background-color: transparent;
                }    
            }  
        }
    }
}


// ? list socials
i {
    border-radius: 5px;
    color: white;
}

.fa-facebook-f {
    padding: 10px 12px 10px 14px;
    background-color: #3c5998;
}
.fa-twitter {
    padding: 10px;
    background-color: #54acee;
}
.fa-instagram {
    padding: 10px 11px;
    background-color: #3f729b;
}
.fa-youtube {
    padding: 10px 9px;
    background-color: #cd201f;
}