header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .banner{
        background-color: $pallette_blue;
        font-size: $font_text_m;

        p, .closeBanner{
            padding: 20px 0;
            color: white;
        }
    
        .closeBanner{
            cursor: pointer;
        }
    }

    .bannerDisplayNone{
        display: none;
    }

    .navbar{
        width: 100%;
        margin-top: 30px;

    //    background-color: transparent;
        background-color: rgba($color: white, $alpha: 0.6);
        // padding: 10px 0;
        .logo{
            display: inline-block;
            width: 15%;
            height: 60px;
            min-width: 200px;
            // margin: 0 20px;
            
            img {
                height: 100%;
                width: 100%;
                margin-top: 5px;
            }
        }

        .dropDownLogout{
            position: relative;
            padding: 10px;
            a{
                cursor: pointer;
                text-decoration: none;
                text-transform: capitalize;
                font-size: $font_text_m;
                font-weight: bolder;  
                padding: 10px 0;
            }
            .logout{
                background-color: rgba(246, 180, 37, 0.7);
                border-radius: 10px;
                position: absolute;
                top: 30px;
                right: 0;
                transition: 0.5s;
                display: none;
                a{
                    color: black;
                    padding: 10px 20px;
                }
                &:hover{
                    background-color: #cacaca;
                }
                // display: none;
                margin-top: 20px;
                background-color: rgba(246, 180, 37, 0.4);
            }
            .logoutDisplay{
                display: block;
                margin-top: 50px;
             }
        }

        nav {
            flex-direction: row;
            align-items: center;
            
            ul li{
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                font-size: $font_text_m;  
                font-weight: bolder;
                color: black;
                padding-right: 20px;
                
                a{
                    text-decoration: none;
                    color: inherit;

                }

                i {
                    color: $pallette_red;
                }

                .fa-chevron-down{
                    font-size: $font_text_s;
                    padding-left: 5px;
                }
            } 
            .registration {
                padding-left: 20px;
            }
        }
    }
}

.on_scroll {
    margin-top: 0px!important;
    background-color: rgb(253, 240, 211)!important;
    ul li {
        color: $pallette_red;
        font-weight: 500;
    } 
}

/* //?  LARGE 1200-768px */
@media screen and (max-width:1200px) {

    header{

        .banner{
            font-size: $font_text_s;
        }
        
        .navbar{
            
            ul {
                
                display: none;

                li {
                    font-size: $font_text_s;
                }
            }
        }
    }
}
/* //?  MEDIUM 768-480px  */
@media screen  and (max-width:768px) {
    header {

        .banner {
            display: none;
        }
    }
}
/* //?  SMALL 480-320 */
@media screen and (max-width:480px) {
    * {
        border: 2px solid  pink!important;
    }
}
