//? Section 1: introduction
#introduction{
    // background-color: $pallette_yellow;
    padding: 100px 0;
    
    .titles{
        width: 70%;
        margin: auto;
        text-align: center;

        h2{
            color: $pallette_orange;
            font-size: $font_titles_s;
            margin-bottom: 10px;
        }
        p {
            padding: 20px;
            font-size: $font_text_m;
            color: $pallette_yellow_dark;
        }
    }
    //? Presentation
    .presentation {
        .box_container {
            text-align: center;
            margin-top: 60px;

            .box {
                width: calc(99% / 3);

                .box_content{
                    img{
                        width: 100%;
                        margin-top: -60px;
                    }

                    h3{
                        font-size: $font_titles_m;
                        font-family: $veganStyle;
                        letter-spacing: 3px;
                        color: $pallette_orange;
                        text-transform: uppercase;
                    }
                    p {
                        padding: 20px 15px;
                        font-size: $font_text_m;
                    }
            } 
        }
    }
 }
}

/* //?  LARGE 1200-768px */
@media screen and (max-width:1200px) {

    #introduction{
        padding: 80px 0;
        //? Presentation
        .presentation {
            .box_container {
                text-align: center;
                flex-wrap: wrap;
                justify-content: space-between;
                // margin-top: 60px;
    
                .box {
                    width: 50%;
                    margin: auto;

                }
            }
        }
    }
}
/* //?  MEDIUM 768-480px  */
@media screen  and (max-width:768px) {

    #introduction{
        padding: 70px 0;
        
        //? Presentation
        .presentation {
            .box_container {
                padding: 30px;

                .box {
                    width: 100%;
    
                    .box_content{

                        img{
                            width: 60%;
                            margin: auto;
                            margin-top: -100px;
                        }

                        h3{
                            font-size: $font_titles_s;
                        }
                        p {
                            position: relative;
                            padding: 20px 15px;
                            font-size: $font_text_l;
                        }
                        // p::after {
                        //     content: "";
                        //     position: absolute;
                        //     left: 10%;
                        //     right: 10%;
                        //     bottom: -10px;
                        //     height: 6px;
                        //     background-color: $pallette_red;
                        //     box-shadow: 1px 1px 2px rgb(0, 0, 0);
                        // }
                    } 
                }
            }
        }
    }
}
/* //?  SMALL 480-320 */
@media screen and (max-width:480px) {

    #introduction{
        padding: 70px 0;

        //? Presentation
        .presentation {
            .box_container {
                text-align: center;
                flex-wrap: wrap;
                // margin-top: 60px;
    
                .box {
                    .box_content{
                        img{
                            width: 70%;
                            margin: auto;
                            margin-top: -50px;
                        }
                        h3{
                            font-size: $font_text_m;
                        }
                        p {
                            font-size: $font_text_m;
                        }
                    } 
                }
            }
        }
    }
}


