//? Section 1: introduction
#introduction{
    // background-color: $pallette_yellow;
    padding: 150px 0;
    
    .titles{
        width: 80%;
        margin: auto;
        text-align: center;

        h2{
            color: $pallette_orange;
            font-size: $font_titles_s;
        }
        p {
            padding: 20px;
            font-size: $font_text_m;
            color: $pallette_yellow_dark;
        }
    }
    //? Presentation
    .presentation {
        .content {
            width: 85%;
            margin: auto;
            text-align: center;
            display: flex;
            justify-content: space-between;
            .box {
                width: calc((100% / 3)- 60);
                margin: 0px 30px;
                .box_content{
                img{
                   width: 100%;
                   margin-bottom: 40px;
                }
                h3{
                   font-size: $font_titles_s;
                   color: $pallette_orange;
                   text-transform: uppercase;
                }
            }
 
        }
    }
 }
}