#jumbotron{
    height: 100vh;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    #foodvideo{
    position:absolute;
    z-index: -20;
    position: absolute;
    top: 0;
    height: 100%;
    width:100%;
    object-fit: cover;
    }
    .jumbo{
        margin-left: 200px;
        width: calc(40% + 100px);
        min-width: 550px;
        padding: 50px;
        color: white;
        border-radius: 10px;
        border: 1px solid white;
        background-color: rgba($color: black, $alpha: 0.3);

        h1{
            font-size: $font_titles_l;
        }
        
        .input-jumbotron-container{
            color: white;
            
            input{
                border:2px solid white;
                background:rgba($color: black, $alpha: 0.4);
                width: 50%;
                border-radius: 10px;
                transition: all .3s .4s;
                padding: 10px;
                font-size: $font_text_m;

                &::placeholder{
                    color: $pallette_pink_dark;
                }

                &:focus{
                    outline:0;
                }
            }
        }
        
    }
}

//!!! MEDIA QUERIES
/* //?  LARGE 1200-768px */
@media screen and (max-width:1200px) {

    #jumbotron{
        .jumbo-content{
            margin-left: 10%;
        }

    }
}
/* //?  MEDIUM 768-480px  */
@media screen  and (max-width:768px) {
    #jumbotron{
        .jumbo-content{
            width: 80%;
            margin: auto;
            min-width: 300px;
            padding: 15px;
            h1{
                font-size: $font_titles_s;
            }            
            h2{
                font-size: $font_text_l;
            }
            .input-jumbotron-container{
                color: white;
                
                input{
                    width: 100%;
                }
            }
        }
    }
}
/* //?  SMALL 480-320 */
@media screen and (max-width:480px) {

    #jumbotron{
        .jumbo-content{
            width: 90%;
            margin: auto;
            min-width: 250px;
            padding: 0;
            h1{
                font-size: $font_text_l;
            }            
            h2{
                font-size: $font_text_s;
            }
            .input-jumbotron-container{
                color: white;
                
                input{
                    width: 100%;
                }
            }
        }
    }
}
