#jumbotron{
    background-image: url('https://wallpaperaccess.com/full/462860.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;

    .jumbo-content{
        margin-right: 200px;
        background-color: rgba($color: white, $alpha: 0.3);
        // text-align: center;
        color: white;
        padding: 25px;
        width: 50%;
        border: 1px solid white;
        border-radius: 10px;

        h1{
            font-size: $font_titles_l;
        }
        
        .input-jumbotron-container{
            color: white;
            
            input{
                border:2px solid inherit;
                background:rgba($color: white, $alpha: 0.4);
                width: 50%;
                border-radius: 10px;
                transition: all .3s .4s;
                padding: 10px;

                &::placeholder{
                    color: $pallette_pink_dark;
                }

                &:focus{
                    outline:0;
                }
            }
        }
        
    }
}