.preloader{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10000;
   opacity: 0;
   height: 0%;
   background-color: $pallette_purple ;
   animation-name: preloader;
   animation-duration: 6s;
   animation-timing-function: linear;
   
   @keyframes preloader {
      0%{
      opacity: 1;
      height: 100%;
      }
      60%{
         background-color: $pallette_purple ;
      }
      90%{
         background-color: black;
         opacity: 1;
      }  
      99%{
      height: 100%;
      }
      100%{
      height: 0;
      opacity: 0;
      }
   }
   h1{
      font-size: $font_titles_l;
      margin-top: 22%;
      text-align: center;
   }
   .line{
      position: absolute;
      top: calc(20% + 158px);
      width: 100%;
      height: 1px;
      background-color: black;
   }
   .acrobata{
      width: 10%;
      position: absolute;
      top: 20%;
      animation-name: ride;
      animation-duration: 6s;
      animation-timing-function: linear;
         @keyframes ride {
            0%{
               left: -40%;
            }
            30%{
               left: -40%; 
            }
            60%{
               left: 45%;
            }
            62%{
               top: 20%;
            }
            64%{
               top: 19%;
            }
            66%{
               top: 20%;
            }
            68%{
               top: 18%;
            }
            70%{
               top: 20%;
               left: 45%;
            }
            100%{
               left: 130%;
            }
         }
      .monocicle{
         position: relative;
         width: 163px;
         .rightArm{
            position: absolute;
            top: 16%;
            left: 2%;       
            transform: rotate(-20deg);
            animation-name: moverightarm;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @keyframes moverightarm {
               0%{
                  transform: rotate(-20deg);
               }
               25%{
                  transform: rotate(-80deg);
               }
               50%{
                  transform: rotate(-20deg);
               }
               75%{
                  transform: rotate(-80deg);
               }
               100%{
                  transform: rotate(-20deg);
               }
            }
         }
         .leftArm{
            position: absolute;
            top: 4%;
            left: 7%;
            animation-name: moveleftarm;
            animation-duration: 2.1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @keyframes moveleftarm {
               0%{
                  transform: rotate(0);
               }
               25%{
                  transform: rotate(50deg);
               }
               50%{
                  transform: rotate(0);
               }
               75%{
                  transform: rotate(50deg);
               }
               100%{
                  transform: rotate(0);
               }
            }
         }
         
         .wheel{
            position: absolute;
            top: 65.3%;
            left: 18%;
            animation-name: wheelrotate;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @keyframes wheelrotate {
               0%{
                  transform: rotate(0deg);
               }
               100%{
                  transform: rotate(360deg);
               }
            }
         }
      }
   }

   
   .skyline{
      width: 100%;
      position: absolute;
      bottom: -10px;
      display: flex;
      justify-content: center;
      img{
         width: 100%;
         min-width: 800px;
         @media screen and (max-width: 800px) {
            min-width: 600px;;
            }
      }
   }
}