.preloader{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10000;
   opacity: 0;
   background-color: $pallette_purple ;
   background-image: url("../img/skyline_roma.png");
   background-repeat: no-repeat;
   background-position: bottom center;
   background-size: 100%;
   @media screen and (max-width:1200px){
      width: 1200px;
      background-position:bottom 50%;
  }
   animation-name: preloader;
   animation-duration: 4s;
   animation-timing-function: linear; 
   @keyframes preloader {
      0%{
      opacity: 1;
      height: 100%;
      }
      60%{
         opacity: 1;
      }
      99%{
      height: 100%;
      }
      100%{
      height: 0;
      opacity: 0;
      }
   }
   .city{
      position: absolute;
      bottom: -10px;
      right: 0%;

      img{
         width: 100%;
         min-width: 1200px;
      }
   }
}