// restaurant profile
.container-show{
    height: 600vh;
    background-color: orange;

    .rest-img-background{
        width: 100%;
        height: 40vh;
        background-image: url("https://i.ytimg.com/vi/JqjWaQyKriI/maxresdefault.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .rest-info-container{
        display: flex;
        justify-content: center;

        .rest-info{
            position: absolute;
            bottom: 35%;
            width: 600px;
            height: 300px;
            background-color: white;
            border-radius: 15px;

            .rest-logo{
                width: 100px;
                height: 100px;
                margin: 0 auto;
                border-radius: 100%;
                position: relative;   
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    position: absolute;
                    bottom: 50%;
                }        
            }
            .rest-info-content{
                text-align: center;
                h2{
                    padding-bottom: 25px;
                }
                h3{
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    

    /* main */
    main{
        display: flex;
        justify-content: space-around;
        margin-top: 225px;

            /* selection */
        #food-type-selection{
            width: 250px;
            display: flex;
            justify-content: center;
            
            .food-selection-container{
                width: 100%;
                padding: 10px 0;
                background-color: white;
                border-radius: 15px;
            }
        }

        /* restaurant menu */
        #rest-menu{
            display: flex;
            justify-content: center;
            .rest-menu-container{
                width: 600px;
                background-color: white;
                border-radius: 15px;
                padding: 0 25px;
                h2{
                    margin: 25px 0;
                }
                .rest-menu-item{
                    border: 2px solid darkgray;
                    border-radius: 15px;
                    padding: 10px 15px;
                    margin: 25px 0;
                    h3{
                        margin-bottom: 7px;
                    }
                    .food-price{
                        padding-top: 10px;
                        color:violet;
                    }
                }
            }
        }
        

        #cart{
            width: 250px;
            display: flex;
            justify-content: center;
            .cart-container{
                width: 100%;
                padding: 10px 0;
                background-color: white;
                border-radius: 15px;
            }
        }
    }
}




