//? Section 4 : Restaurants
#restaurants {
    margin-bottom: 30px;
    
    .container {
        width: 95%;
        flex-wrap: wrap;
        
        .restaurant_card {
            
            width: 33%;
            margin-left: -20px;
            margin-right: 20px;
            margin-top: 20px;
            position: relative;
            
            a.content {
                text-decoration: none;
                color: black;
                display: flex;
                flex-direction: row;

                .logo_rest {
                    width: 50%;
                
                    img{
                        width: 100%;
                        border-radius: 50%;
                        // border: $pallette_red 8px solid;
                    }
                }
                .restaurant_info{
                    width: 49%;
                    padding-left: 10px;
                    h3{
                        font-size: $font_text_l;
                        position: relative;
                        margin-bottom: 5px;
                        background-color: $pallette_red;
                        border-radius: 20px;
                        padding: 2px 10px;
                    }
                   
                    small {
                        font-size: $font_text_s;
                    }
                }
            }
            
        }
                
        .restaurant_card:nth-child(6n + 4),
        .restaurant_card:nth-child(6n + 5),
        .restaurant_card:nth-child(6n + 6) {
            
            margin-right: -20px;
            margin-left: 20px;
            text-align: right;
            a.content{
                flex-direction: row-reverse;
            }
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,0.28895308123249297) 25%, rgba(248,220,42,1) 35%, rgba(243,0,80,0.4906337535014006) 50%, rgba(248,220,42,0.4906337535014006) 65%, rgba(255,255,255,0) 75%);    
        }
    }
}        /*
        .restaurant_card ::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 2px;
            height: 30px;
            background: rgb(255,255,255);        
            background: linear-gradient(270deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 15%, rgba(243,0,80,1) 50%, rgba(243,0,80,1) 100%);
            z-index: -1;               
        }

        .restaurant_card:nth-child(6n + 4),
        .restaurant_card:nth-child(6n + 5),
        .restaurant_card:nth-child(6n + 6) {
            
            margin-right: -20px;
            margin-left: 20px;
            text-align: right;
            
            a.content{
                flex-direction: row-reverse;
                .restaurant_info{
                    padding-right: 10px;
                    
                    h3{
                        font-size: $font_text_m;
                    }
                    small{
                        font-size: $font_text_xs;
                    }
                }
            }
            */

            // a.content::before {
            //     left: 0px;
            //     right: -140px;                        
            //     background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 15%, rgba(243,0,80,1) 50%, rgba(243,0,80,1) 100%)!important;
            // }


/* //?  LARGE 1200-768px */
@media screen and (max-width:1200px) {

    //? Section 4 : Restaurants
    #restaurants {       
        .container {
            .restaurant_card {
                
                width: 49%;            
                margin-left: -20px;
                margin-right: 20px;
                text-align: left;
                position: relative;
                
            }
            .restaurant_card:nth-child(6n + 4),
            .restaurant_card:nth-child(6n + 5),
            .restaurant_card:nth-child(6n + 6) {
                margin-left: -20px;
                margin-right: 20px;
                text-align: left;
                a.content{
                    flex-direction: row;
                }
            }
            .restaurant_card:nth-child(4n + 3),
            .restaurant_card:nth-child(4n + 4) {
                
                margin-right: -20px;
                margin-left: 20px;
                text-align: right;
                
                a.content{
                    flex-direction: row-reverse;
                    .restaurant_info{
                        padding-right: 10px;
                    }
                }
            }
            
        }
    }

}
/* //?  MEDIUM 768-480px  */
@media screen  and (max-width:768px) {

    #restaurants {
        .container {

            .restaurant_card {
                width: 100%;            
                margin-left: -20px;
                margin-right: 20px;
                text-align: left;

                a.content {
                    flex-direction: row;

                    .restaurant_info{
                        padding-left: 10;
                    }
                }
                
            }
            .restaurant_card:nth-child(4n + 3),
            .restaurant_card:nth-child(4n + 4) {
                
                margin-left: -20px;
                margin-right: 20px;
                text-align: left;
                
                a.content{
                    flex-direction: row;
                    .restaurant_info{
                        padding-left: 10px;
                    }
                }
            }
            .restaurant_card:nth-child(2n) {
                margin-right: -20px;
                margin-left: 20px;
                text-align: right;
                
                a.content{
                    background-color: indigo;
                    flex-direction: row-reverse;
                    .restaurant_info{
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}
