#category{
    background-color: $pallette_orange;
    // background-color: #ffeee3; 
    .categories{
        display: flex;
        justify-content: space-around;
        flex-direction: wrap;
        flex-wrap: wrap;
        padding: 50px;
        padding-top: 70px;

        .category-card {
            width: calc((100%/6) - 60px);
            margin: 20px 30px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                transform: scale(1.10);      
            }
            img{
               width: 100%;
               filter: drop-shadow(0 0 10px  rgba(0, 0, 0, 0.2));
            }
            .type-name{
                text-align: center;
                font-size: $font_text_l;
            }
        }
        
    }
}