#category{
    background-color: $pallette_orange;
    // background-color: #ffeee3; 
    .categories{
        margin-top: 50px;
        margin-bottom: 30px; 
        justify-content: space-around;
        flex-wrap: wrap;

        .category-card {
            margin-top: 20px;
            margin-bottom: 20px;
            width: calc( 100% / 6);
            transition: 0.5s;
            cursor: pointer;
            padding: 10px 5px;
            
            &:hover {
                transform: scale(1.10);      
            }

            img{
               width: 100%;
               filter: drop-shadow(0 0 10px  rgba(0, 0, 0, 0.2));
            }
            .type-name{
                text-align: center;
                font-size: $font_text_l;
                text-transform: capitalize;

            }
        }
        
    }
}

// ! MEDIA
/* //?  LARGE 1200-768px */
@media screen and (max-width:1200px) {

    #category{
        .categories {
            margin-top: 40px; 
            .category-card{
                padding: 3px;
                h4 {
                    display: none;
                }
            }
        }
    }
}
/* //?  MEDIUM 768-480px  */
@media screen  and (max-width:768px) {

    #category{
        .categories {
            margin-top: 20px; 
            flex-wrap: nowrap;
            justify-content: start;
            overflow-x: auto;
            
            .category-card{
                min-width: 120px;
                padding: 0 5px;
            }

        }
    }
}
/* //?  SMALL 480-320 */
@media screen and (max-width:480px) {
    .category-card{
        min-width: 80px!important;
    }
}
