//? Section 4 : Restaurants
#restaurants {
    margin-bottom: 30px;
    
    .container {
        width: 90%;
        flex-wrap: wrap;
        
        .restaurant_card {
            
            width: 33%;
            padding: 10px;
            margin-left: -20px;
            margin-right: 20px;
            margin-top: 20px;
            position: relative;
            border: 2px solid $pallette_orange;
            border-radius: 15px;
            
            a.content {
                text-decoration: none;
                color: black;
                display: flex;
                flex-direction: row;

                .logo_rest {
                    width: 50%;
                    height: 140px;
                    overflow: hidden;
                    border-radius: 100%;
                    img{
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                        transition: all 1.5s;
                    }
                }
                .restaurant_info{
                    i {
                        color: $pallette_orange;
                    }
                    width: 49%;
                    padding: 0 10px ;
                    h3{
                        font-size: $font_text_l;
                        position: relative;
                        margin-bottom: 5px;
                        background-color: rgba($color: $pallette_orange, $alpha: 0.5);
                        border-radius: 20px;
                        padding: 2px 10px;
                    }
                   
                    small {
                        display: block;
                        line-height: 20px;
                        font-size: $font_text_s;
                    }
                }
            }
            &:hover img{
                transform: scale(1.1);
            }  
        }
                
        .restaurant_card:nth-child(6n + 4),
        .restaurant_card:nth-child(6n + 5),
        .restaurant_card:nth-child(6n + 6) {
            
            margin-right: -20px;
            margin-left: 20px;
            text-align: right;
            a.content{
                flex-direction: row-reverse;
            }
//             background: rgb(243,0,80);
// background: linear-gradient(99deg, rgba(243,0,80,0) 0%, rgba(243,0,80,0.5998774509803921) 28%, rgba(248,220,42,0.5886729691876751) 53%, rgba(255,255,255,0) 100%);
        }
    }
}       

/* //?  LARGE 1200-768px */
@media screen and (max-width:1200px) {

    #restaurants {       
        .container {
            .restaurant_card {
                
                width: 49%;            
                margin-left: -20px;
                margin-right: 20px;
                text-align: left;
                position: relative;

                a.content{
                    .restaurant_info{
                        small {
                            font-size: $font_text_m;
                            line-height: 25px;
                        }
                    }
                }
                
            }

            // reset delle posizioni per media query differnte
            .restaurant_card:nth-child(6n + 4),
            .restaurant_card:nth-child(6n + 5),
            .restaurant_card:nth-child(6n + 6) {
                margin-left: -20px;
                margin-right: 20px;
                text-align: left;
                a.content{
                    flex-direction: row;
                    .restaurant_info{
                        padding-right: 10px;
                    }
                }
            }
            .restaurant_card:nth-child(4n + 3),
            .restaurant_card:nth-child(4n + 4) {
                
                margin-right: -20px;
                margin-left: 20px;
                text-align: right;
                
                a.content{
                    flex-direction: row-reverse;

                }
            }
            
        }
    }

}
/* //?  MEDIUM 768-480px  */
@media screen  and (max-width:768px) {

    #restaurants {
        .container {

            .restaurant_card {
                width: 100%;     
                padding: 15px 30px;       
                margin-left: -20px;
                margin-right: 20px;
                text-align: left;

                a.content {
                    flex-direction: row;
                    .restaurant_info {
                        h3  {
                            font-size: $font_titles_s;
                        }
                        small{
                            width: 90%;
                            margin: auto;
                            font-size: $font_text_s;

                        }
                    }
                }
                
                
            }
            
            .restaurant_card:nth-child(4n + 3),
            .restaurant_card:nth-child(4n + 4) {
                
                margin-left: -20px;
                margin-right: 20px;
                text-align: left;
                
                a.content{
                    flex-direction: row;
                    .restaurant_info{
                        padding-left: 10px;
                    }
                }
            }
            .restaurant_card:nth-child(2n) {
                margin-right: -20px;
                margin-left: 20px;
                text-align: right;
                
                a.content{
                    // background-color: indigo;
                    flex-direction: row-reverse;

                }
            }
        }
    }
}

/* //?  SMALL 480-320 */
@media screen and (max-width:480px) {
    #restaurants {
        .container {
            
            .restaurant_card {
                margin-right: 10px!important;
                margin-left: 10px!important;
                text-align: center!important;

                a.content {
    
                    .logo_rest {
                        width: 100%;
                
                        img::after{
                            content: "";
                            position: absolute;
                            top: 0%;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: rgba($color: #fff, $alpha: 0.4);
                        }

                    }
                    .restaurant_info{
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba($color: white, $alpha: 0.7);
                        padding-left: 0px;
                        padding-right: 0px;
                        border-radius: 15px;
                        border: solid $pallette_red 2px;

                        h3{
                            font-size: $font_text_l;
                            width: 80%;
                            margin: auto;
                            margin-bottom: 5px;
                            margin-top: 30px;
                            padding: 5px 15px;
                        }
                       
                        small {
                            font-size: $font_text_m;
                        }
                    }
                }
            }                       
        }
    }       
}
