// restaurant profile
.container-show{
    padding-top: 30px;
    height: 200vh;
    background-color: orange;

    #restaurant-profile{
        .coverImage{
            width: 100%;
            background-color: royalblue;
            height: 20vh;
            overflow: hidden;
            img {
               object-fit: contain;
               width: 100%;
               margin: auto;
            }
         }
        .rest-info-container{
            display: flex;
            justify-content: center;
            margin-top: -80px;
            
            .rest-info{
                position: relative;
                background-color: white;
                border-radius: 15px;
                margin-top: -10%;
                width: 45%;
                margin: auto ;
                padding-bottom: 40px;

                .rest-logo{
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    border-radius: 100%;
                    position: relative;  
                    
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        position: absolute;
                        top: -50%;
                    }        
                }
                .rest-info-content{
                    text-align: center;
                    h2{
                        padding-bottom: 25px;
                    }
                    h3{
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
    
    

    /* main */
    main{
        display: flex;
        justify-content: space-between;
        margin-top: -100px;
        
        .side_col {
            display: flex;
            text-align: center;
            // justify-content: center;
            background-color: white;
            width: 18%;
            padding: 20px;
            border-radius: 15px;
            margin-top: -40px;

        }

            /* selection */
        #left_col_index{
            
            .food-selection-container{
                width: 100%;
            }
        }
        
        /* restaurant menu */
        #center_col_menu{
            width: 50%;
            display: flex;
            justify-content: center;
            margin-top: 140px;
            border-radius: 15px;
            background-color: white;
            
            .center_col_menu{
                width: 600px;
                border-radius: 15px;
                padding: 0 25px;
                h2{
                    margin-top: 20px;
                    text-align: center;
                }

                .rest-menu-item{
                    border-radius: 15px;
                    border: 2px solid $pallette_yellow_dark;
                    padding: 10px 15px;
                    margin: 25px 0;


                    .food-price{
                        padding-top: 10px;
                        color: $pallette_orange;
                    }
                }
            }
        }
        

        #right_col_cart{
            .cart-container{
                width: 100%;

                padding: 10px 0;
                ul{                
                    li{
                        display: flex;
                        justify-content: space-between;
                        margin: 5px 10px;
                    }
                }
                .total{
                    margin-top: 30px;
                    hr {
                        margin: 10px 0 20px 0;
                    }
                    // h3 {
                    //     color: ;
                    // }
                }
            }
        }
    }
    .addCart{
        display: flex;
        align-items: center;
        i{
            background-color: $yellow;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: $indigo;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s all;
            cursor: pointer;
            &:hover{
                background-color: $orange;
            }
        }
        .display{
            margin: 0 15px;
        }
    }
}




