.banner{
   position: fixed;
   top: 0;
   width: 100%;
   background-color: $pallette_blue;
   
   z-index: 9;
   .container{
      width:90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
   
      p, .closeBanner{
         padding: 20px 0;
         color: white;
      }
   
      .closeBanner{
         cursor: pointer;
      }
   }
}

.bannerDisplayNone{
   display: none;
}