@import '../variables';
@import 'partials/mix';
@import 'partials/header';
@import 'partials/intro';
@import 'partials/footer';

main {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

section{
    padding: 100px 20px;
}

.preloader, .navbar nav ul, .banner {
    display: none;
}

#info{
    margin: auto;
    padding: 30px;
    
    .info_container {

        h1{
            font-size: $font_titles_l;
            color: $pallette_red;
        }
        p {
            font-size: $font_text_l;
            line-height: 1.7;  
            text-align: center;
            margin-top: 20px;
            width: 75%;
            margin: auto;
        } 
        ul.contatti{
            display: flex;
            justify-content: space-evenly;

            li{
                font-size: $font_text_l;
                padding: 20px 10px;
                color: black;
                font-weight: 600;
                i {
                    color: $pallette_orange;
                }
            }
        }

        .google_maps{
            padding-top: 20px;
            margin: auto;
            display: flex;
            justify-content: center;
            iframe {
                width: 800px;
                height: 600px;
            }
        }
       
    }
}

#sidebar{
    width: 400px;
    display: flex;
    line-height: 1.7;  
    margin: auto;
    background-color: rgba($color: $pallette_yellow_dark, $alpha: 0.4);
    border: $pallette_orange solid 4px;
    border-radius: 15px;
    padding: 20px;


    .sidebar_container{
        width: 90%;
        margin: auto;
        h1 {
            font-size: $font_titles_l;
        }
        ul li{
            padding: 10px;
            margin: 10px 0;
            display: inline-block;
        }
        h3{
            margin: 20px 0;
        }
    }
}


/* //?  LARGE 1200-768px */
@media screen and (max-width:1200px) {
    main {
        width: 95%;
    }

    #info{
        margin: auto;
        padding: 30px 20px 30px 0 ;
        
        .info_container {
    
            h1{
                font-size: $font_titles_m;
            }
            p {
                font-size: $font_text_m;
                line-height: 1.5;  
            } 
            ul.contatti{
                li{
                    font-size: $font_text_m;
                    padding: 20px 10px;
                }
            }
    
            .google_maps{
                margin: auto;
                iframe {
                    margin: auto;
                    width: 100%;
                    height: 500px;
                }
            }
           
        }
    }
    
    #sidebar{
        width: 250px;
        text-align: center;
        line-height: 1.5;  
        padding: 10px;
    
        .sidebar_container{
            width: 90%;
            margin: auto;
            h1 {
                font-size: $font_titles_l;
            }
            ul li{
                padding: 10px;
                margin: 10px 0;
            }
            h3{
                margin: 20px 0;
            }
        }
    }
    

    
}

/* //?  MEDIUM 768-480px  */
@media screen  and (max-width:768px) {
    main {
        flex-wrap: wrap;

        #sidebar {
            width: 100%;
            margin: 60px 0;
        }
    }
}

// ? SMALL
@media screen and (max-width:480px) {
    main {
        #info .info_container{
            ul {
                flex-direction: column;
                text-align: center;
            }
        }
    }
}