@font-face {
  font-family: veganFontStyle;
  src: url(../fonts/VeganStylePersonal.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn_primary {
  color: black !important;
  font-size: 19px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #F8DC2A;
  border: solid #F6b425 1px;
  box-shadow: 3px 3px 0px 0px #f6b425;
  text-shadow: 1px 1px 0px black;
}

.mt_1 {
  margin-top: 10px;
}

.mt_2 {
  margin-top: 20px;
}

.mt_3 {
  margin-top: 30px;
}

.mt_4 {
  margin-top: 40px;
}

.mt_5 {
  margin-top: 50px;
}

.mt_6 {
  margin-top: 60px;
}

.mt_7 {
  margin-top: 70px;
}

.mt_8 {
  margin-top: 80px;
}

.mt_9 {
  margin-top: 90px;
}

.mt_10 {
  margin-top: 100px;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: rgba(246, 180, 37, 0.2);
}

h1, h2 {
  font-family: "veganFontStyle";
  letter-spacing: 2px;
  font-weight: lighter;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.display {
  display: block;
}

.displayNone {
  display: none;
}

i {
  border-radius: 5px;
  color: white;
}

.fa-facebook-f {
  padding: 10px 12px 10px 14px;
  background-color: #3c5998;
}

.fa-twitter {
  padding: 10px;
  background-color: #54acee;
}

.fa-instagram {
  padding: 10px 11px;
  background-color: #3f729b;
}

.fa-youtube {
  padding: 10px 9px;
  background-color: #cd201f;
}

/* //?  MEDIUM 768-480px  */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .fa-facebook-f {
    padding: 6px 8px 6px 10px;
  }

  .fa-twitter {
    padding: 6px;
  }

  .fa-instagram {
    padding: 6px 7px;
  }

  .fa-youtube {
    padding: 6px 5px;
    background-color: #cd201f;
  }
}
/* //?  LARGE 1200-768px */
/* //?  MEDIUM 768-480px  */
/* //?  SMALL 480-320 */
/* //? EXTRA SMALL 320-0 */
html {
  scroll-behavior: smooth;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  opacity: 0;
  background-color: #643863;
  background-image: url("../img/skyline_roma.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (max-width: 1200px) {
  .preloader {
    width: 1200px;
    background-position: bottom 50%;
  }
}
@-webkit-keyframes preloader {
  0% {
    opacity: 1;
    height: 100%;
  }
  60% {
    opacity: 1;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes preloader {
  0% {
    opacity: 1;
    height: 100%;
  }
  60% {
    opacity: 1;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
.preloader .city {
  position: absolute;
  bottom: -10px;
  right: 0%;
}
.preloader .city img {
  width: 100%;
  min-width: 1200px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .banner {
  background-color: #2BA4C3;
  font-size: 19px;
}
header .banner p, header .banner .closeBanner {
  padding: 20px 0;
  color: white;
}
header .banner .closeBanner {
  cursor: pointer;
}
header .navbar {
  width: 100%;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.6);
}
header .navbar .logo {
  display: inline-block;
  height: 60px;
}
header .navbar .logo img {
  height: 100%;
  margin-top: 5px;
}
header .navbar .dropDownLogout,
header .navbar .dropDownMenu {
  position: relative;
}
header .navbar .dropDownLogout a,
header .navbar .dropDownMenu a {
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 19px;
  font-weight: bolder;
  padding: 5px 5px;
}
header .navbar .dropDownLogout .logout, header .navbar .dropDownLogout .menu,
header .navbar .dropDownMenu .logout,
header .navbar .dropDownMenu .menu {
  background-color: rgba(246, 180, 37, 0.7);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: -30px;
  transition: 0.5s;
  display: none;
  margin-top: 20px;
}
header .navbar .dropDownLogout .logout ul, header .navbar .dropDownLogout .menu ul,
header .navbar .dropDownMenu .logout ul,
header .navbar .dropDownMenu .menu ul {
  text-align: end;
}
header .navbar .dropDownLogout .logout ul li a, header .navbar .dropDownLogout .menu ul li a,
header .navbar .dropDownMenu .logout ul li a,
header .navbar .dropDownMenu .menu ul li a {
  color: black;
}
header .navbar .dropDownLogout .logout:hover, header .navbar .dropDownLogout .menu:hover,
header .navbar .dropDownMenu .logout:hover,
header .navbar .dropDownMenu .menu:hover {
  background-color: rgba(246, 180, 37, 0.4);
}
header .navbar .dropDownLogout .display,
header .navbar .dropDownMenu .display {
  display: block;
  margin-top: 70px;
}
header .navbar nav {
  flex-direction: row;
  align-items: center;
}
header .navbar nav ul li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bolder;
  color: black;
  padding-right: 20px;
}
header .navbar nav ul li a {
  text-decoration: none;
  color: inherit;
}
header .navbar nav ul li i {
  color: #F30050;
}
header .navbar nav ul li .fa-chevron-down {
  font-size: 15px;
  padding-left: 5px;
}
header .navbar nav .registration {
  padding-left: 20px;
}

.on_scroll {
  margin-top: 0px !important;
  background-color: #fdf0d3 !important;
}
.on_scroll ul li {
  color: #F30050;
  font-weight: 500;
}

/* //?  LARGE 1200-768px */
@media screen and (max-width: 1200px) {
  header .banner {
    font-size: 15px;
  }
  header .navbar nav small {
    display: none;
  }
}
/* //?  MEDIUM 768-480px  */
@media screen and (max-width: 768px) {
  header .banner {
    display: none;
    font-size: 15px;
  }
  header .navbar .navbar_elements {
    display: none;
  }
}
/* //?  SMALL 480-320 */
@media screen and (max-width: 480px) {
  header .logo_btn {
    display: inline-block;
  }
  header .logo img {
    display: none;
  }
}
#jumbotron {
  background-image: url("https://wallpaperaccess.com/full/462860.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.5s ease;
}
#jumbotron .jumbo-content {
  margin-left: calc(20% - 100px);
  width: calc(40% + 100px);
  min-width: 550px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
}
#jumbotron .jumbo-content h1 {
  font-size: 45px;
}
#jumbotron .jumbo-content .input-jumbotron-container {
  color: white;
}
#jumbotron .jumbo-content .input-jumbotron-container input {
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.4);
  width: 50%;
  border-radius: 10px;
  transition: all 0.3s 0.4s;
  padding: 10px;
  font-size: 19px;
}
#jumbotron .jumbo-content .input-jumbotron-container input::-moz-placeholder {
  color: #F86A71;
}
#jumbotron .jumbo-content .input-jumbotron-container input:-ms-input-placeholder {
  color: #F86A71;
}
#jumbotron .jumbo-content .input-jumbotron-container input::placeholder {
  color: #F86A71;
}
#jumbotron .jumbo-content .input-jumbotron-container input:focus {
  outline: 0;
}

/* //?  LARGE 1200-768px */
@media screen and (max-width: 1200px) {
  #jumbotron .jumbo-content {
    margin-left: 10%;
  }
}
/* //?  MEDIUM 768-480px  */
@media screen and (max-width: 768px) {
  #jumbotron .jumbo-content {
    width: 80%;
    margin: auto;
    min-width: 300px;
    padding: 15px;
  }
  #jumbotron .jumbo-content h1 {
    font-size: 29px;
  }
  #jumbotron .jumbo-content h2 {
    font-size: 23px;
  }
  #jumbotron .jumbo-content .input-jumbotron-container {
    color: white;
  }
  #jumbotron .jumbo-content .input-jumbotron-container input {
    width: 100%;
  }
}
/* //?  SMALL 480-320 */
@media screen and (max-width: 480px) {
  #jumbotron .jumbo-content {
    width: 90%;
    margin: auto;
    min-width: 250px;
    padding: 0;
  }
  #jumbotron .jumbo-content h1 {
    font-size: 23px;
  }
  #jumbotron .jumbo-content h2 {
    font-size: 15px;
  }
  #jumbotron .jumbo-content .input-jumbotron-container {
    color: white;
  }
  #jumbotron .jumbo-content .input-jumbotron-container input {
    width: 100%;
  }
}
#introduction {
  padding: 100px 0;
}
#introduction .titles {
  width: 70%;
  margin: auto;
  text-align: center;
}
#introduction .titles h2 {
  color: #F67F41;
  font-size: 29px;
  margin-bottom: 10px;
}
#introduction .titles p {
  padding: 20px;
  font-size: 19px;
  color: #F6b425;
}
#introduction .presentation .box_container {
  text-align: center;
  margin-top: 60px;
}
#introduction .presentation .box_container .box {
  width: calc(99% / 3);
}
#introduction .presentation .box_container .box .box_content img {
  width: 100%;
  margin-top: -60px;
}
#introduction .presentation .box_container .box .box_content h3 {
  font-size: 36px;
  font-family: "veganFontStyle";
  letter-spacing: 3px;
  color: #F67F41;
  text-transform: uppercase;
}
#introduction .presentation .box_container .box .box_content p {
  padding: 20px 15px;
  font-size: 19px;
}

/* //?  LARGE 1200-768px */
@media screen and (max-width: 1200px) {
  #introduction {
    padding: 80px 0;
  }
  #introduction .presentation .box_container {
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #introduction .presentation .box_container .box {
    width: 50%;
    margin: auto;
  }
}
/* //?  MEDIUM 768-480px  */
@media screen and (max-width: 768px) {
  #introduction {
    padding: 70px 0;
  }
  #introduction .presentation .box_container {
    padding: 30px;
  }
  #introduction .presentation .box_container .box {
    width: 100%;
  }
  #introduction .presentation .box_container .box .box_content img {
    width: 60%;
    margin: auto;
    margin-top: -100px;
  }
  #introduction .presentation .box_container .box .box_content h3 {
    font-size: 29px;
  }
  #introduction .presentation .box_container .box .box_content p {
    position: relative;
    padding: 20px 15px;
    font-size: 23px;
  }
}
/* //?  SMALL 480-320 */
@media screen and (max-width: 480px) {
  #introduction {
    padding: 70px 0;
  }
  #introduction .presentation .box_container {
    text-align: center;
    flex-wrap: wrap;
  }
  #introduction .presentation .box_container .box .box_content img {
    width: 70%;
    margin: auto;
    margin-top: -50px;
  }
  #introduction .presentation .box_container .box .box_content h3 {
    font-size: 19px;
  }
  #introduction .presentation .box_container .box .box_content p {
    font-size: 19px;
  }
}
#category {
  background-color: #F67F41;
}
#category .categories {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;
  margin-bottom: 20px;
}
#category .categories .category-card {
  margin-bottom: 20px;
  width: calc( 100% / 6);
  transition: 0.5s;
  cursor: pointer;
  padding: 10px 5px;
}
#category .categories .category-card:hover {
  transform: scale(1.1);
}
#category .categories .category-card img {
  width: 100%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}
#category .categories .category-card .type-name {
  text-align: center;
  font-size: 23px;
  text-transform: capitalize;
}

/* //?  LARGE 1200-768px */
@media screen and (max-width: 1200px) {
  #category .categories .category-card {
    padding: 3px;
  }
  #category .categories .category-card h4 {
    display: none;
  }
}
/* //?  MEDIUM 768-480px  */
@media screen and (max-width: 768px) {
  #category .categories {
    margin-top: 0px;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
  }
  #category .categories .category-card {
    min-width: 120px;
    padding: 0 5px;
  }
}
/* //?  SMALL 480-320 */
@media screen and (max-width: 480px) {
  .category-card {
    min-width: 80px !important;
  }
}
#restaurants {
  margin-bottom: 30px;
}
#restaurants .container {
  width: 95%;
  flex-wrap: wrap;
}
#restaurants .container .restaurant_card {
  width: 33%;
  margin-left: -20px;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}
#restaurants .container .restaurant_card a.content {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
}
#restaurants .container .restaurant_card a.content .logo_rest {
  width: 50%;
}
#restaurants .container .restaurant_card a.content .logo_rest img {
  width: 100%;
  border-radius: 50%;
  border: #F30050 8px solid;
}
#restaurants .container .restaurant_card a.content .restaurant_info {
  width: 49%;
  padding-left: 10px;
}
#restaurants .container .restaurant_card a.content .restaurant_info h3 {
  font-size: 23px;
  position: relative;
  margin-bottom: 5px;
  background-color: #F30050;
  border-radius: 20px;
  padding: 2px 10px;
}
#restaurants .container .restaurant_card a.content .restaurant_info small {
  font-size: 15px;
}
#restaurants .container .restaurant_card:nth-child(6n+4),
#restaurants .container .restaurant_card:nth-child(6n+5),
#restaurants .container .restaurant_card:nth-child(6n+6) {
  margin-right: -20px;
  margin-left: 20px;
  text-align: right;
}
#restaurants .container .restaurant_card:nth-child(6n+4) a.content,
#restaurants .container .restaurant_card:nth-child(6n+5) a.content,
#restaurants .container .restaurant_card:nth-child(6n+6) a.content {
  flex-direction: row-reverse;
}

/*
.restaurant_card ::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    height: 30px;
    background: rgb(255,255,255);        
    background: linear-gradient(270deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 15%, rgba(243,0,80,1) 50%, rgba(243,0,80,1) 100%);
    z-index: -1;               
}

.restaurant_card:nth-child(6n + 4),
.restaurant_card:nth-child(6n + 5),
.restaurant_card:nth-child(6n + 6) {

    margin-right: -20px;
    margin-left: 20px;
    text-align: right;

    a.content{
        flex-direction: row-reverse;
        .restaurant_info{
            padding-right: 10px;

            h3{
                font-size: $font_text_m;
            }
            small{
                font-size: $font_text_xs;
            }
        }
    }
    */
/* //?  LARGE 1200-768px */
@media screen and (max-width: 1200px) {
  #restaurants .container .restaurant_card {
    width: 49%;
    margin-left: -20px;
    margin-right: 20px;
    text-align: left;
    position: relative;
  }
  #restaurants .container .restaurant_card:nth-child(6n+4),
#restaurants .container .restaurant_card:nth-child(6n+5),
#restaurants .container .restaurant_card:nth-child(6n+6) {
    margin-left: -20px;
    margin-right: 20px;
    text-align: left;
  }
  #restaurants .container .restaurant_card:nth-child(6n+4) a.content,
#restaurants .container .restaurant_card:nth-child(6n+5) a.content,
#restaurants .container .restaurant_card:nth-child(6n+6) a.content {
    flex-direction: row;
  }
  #restaurants .container .restaurant_card:nth-child(4n+3),
#restaurants .container .restaurant_card:nth-child(4n+4) {
    margin-right: -20px;
    margin-left: 20px;
    text-align: right;
  }
  #restaurants .container .restaurant_card:nth-child(4n+3) a.content,
#restaurants .container .restaurant_card:nth-child(4n+4) a.content {
    flex-direction: row-reverse;
  }
  #restaurants .container .restaurant_card:nth-child(4n+3) a.content .restaurant_info,
#restaurants .container .restaurant_card:nth-child(4n+4) a.content .restaurant_info {
    padding-right: 10px;
  }
}
/* //?  MEDIUM 768-480px  */
@media screen and (max-width: 768px) {
  #restaurants .container .restaurant_card {
    width: 100%;
    margin-left: -20px;
    margin-right: 20px;
    text-align: left;
  }
  #restaurants .container .restaurant_card a.content {
    flex-direction: row;
  }
  #restaurants .container .restaurant_card a.content .restaurant_info {
    padding-left: 10;
  }
  #restaurants .container .restaurant_card:nth-child(4n+3),
#restaurants .container .restaurant_card:nth-child(4n+4) {
    margin-left: -20px;
    margin-right: 20px;
    text-align: left;
  }
  #restaurants .container .restaurant_card:nth-child(4n+3) a.content,
#restaurants .container .restaurant_card:nth-child(4n+4) a.content {
    flex-direction: row;
  }
  #restaurants .container .restaurant_card:nth-child(4n+3) a.content .restaurant_info,
#restaurants .container .restaurant_card:nth-child(4n+4) a.content .restaurant_info {
    padding-left: 10px;
  }
  #restaurants .container .restaurant_card:nth-child(2n) {
    margin-right: -20px;
    margin-left: 20px;
    text-align: right;
  }
  #restaurants .container .restaurant_card:nth-child(2n) a.content {
    background-color: indigo;
    flex-direction: row-reverse;
  }
  #restaurants .container .restaurant_card:nth-child(2n) a.content .restaurant_info {
    padding-right: 10px;
  }
}
footer {
  background-color: #F6b425;
  background-image: url(../img/skyline_roma.png);
  background-position-y: calc(100% - 36px);
  background-size: contain;
  background-repeat: no-repeat;
}
footer h3, footer h4 {
  position: relative;
  color: #F30050;
  margin-top: 0;
  font-size: 15px;
  margin: 20px 0 10px 0;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
footer ul li {
  margin-top: 20px;
  list-style: none;
  color: black;
  font-size: 19px;
  line-height: 23px;
}
footer .footer_container {
  padding: 30px 0 100px 0;
  position: relative;
}
footer .footer_container .footer_col#foot_col1 {
  width: 25%;
}
footer .footer_container .footer_col#foot_col1 ul {
  display: flex;
  margin-top: -10px;
  justify-content: space-between;
}
footer .footer_container .footer_col#foot_col1 ul li {
  display: inline-block;
  list-style: none;
}
footer .footer_container .footer_col#foot_col1 img {
  width: 100%;
}
footer .footer_container .footer_col#foot_col1 h4::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 2px;
  background-color: #F30050;
  box-shadow: 1px 1px 2px black;
}
footer .footer_container .footer_menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 75%;
  padding: 30px 0;
}
footer .footer_container .footer_menu .footer_col {
  width: 30%;
  min-width: 265px;
}
footer .footer_container .footer_menu .footer_col h3 {
  font-size: 19px;
}
footer .footer_container .footer_menu .footer_col h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 60%;
  bottom: -10px;
  height: 2px;
  background-color: #F30050;
  box-shadow: 1px 1px 2px black;
}
footer .footer_container .footer_menu .footer_col i {
  padding: 0 5px;
  color: #F8DC2A;
  font-size: 23px;
}
footer .footer_container .footer_menu .footer_col#foot_col4 ul li {
  list-style: none;
  text-align: center;
}
footer .footer_container .footer_menu .footer_col#foot_col4 ul li img {
  width: 60%;
  border-radius: 10px;
}
footer .footer_container .slider_comments {
  position: absolute;
  width: 60%;
  bottom: 10px;
  right: 10%;
  background-color: rgba(248, 220, 42, 0.5);
}
footer .footer_container .slider_comments p {
  text-align: center;
  vertical-align: middle;
  width: 75%;
  margin: auto;
  padding: 25px 10px;
}

.footer_row {
  margin-top: -50px;
  background-color: #000;
  padding: 5px 0;
}
.footer_row ul li {
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: #a8a9ae;
  padding: 5px 10px;
}
.footer_row ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 0;
  width: 1px;
  height: 15px;
  background-color: #a8a9ae;
}
.footer_row ul li#copyright i {
  color: inherit;
  padding: 0 10px;
}
.footer_row ul li#copyright::after {
  background-color: transparent;
}

/* //?  LARGE 1200-768px */
@media screen and (max-width: 1200px) {
  footer .footer_container .footer_menu .footer_col {
    flex-grow: 2 !important;
    text-align: center;
    width: 40%;
  }
  footer .footer_container .footer_menu .footer_col h3 {
    margin: 0 35px;
  }
  footer .footer_container .footer_menu .footer_col h3::after {
    right: 20% !important;
    left: 20% !important;
  }
  footer .footer_container .footer_menu .footer_col#foot_col4 {
    margin-top: 60px;
    padding-left: 20px;
  }
  footer .footer_container .footer_menu .footer_col#foot_col4 h3 {
    display: inline-block;
    width: 30%;
    margin: 0;
  }
  footer .footer_container .footer_menu .footer_col#foot_col4 ul {
    display: inline-block;
    width: 69%;
  }
  footer .footer_container .footer_menu .footer_col#foot_col4 ul li {
    display: inline-block;
    list-style: none;
    width: 32%;
    margin-top: 10px !important;
  }
  footer .footer_container .footer_menu .footer_col#foot_col4 ul li img {
    width: 100%;
    padding: 2.5px;
  }
}
/* //?  MEDIUM 768-480px  */
@media screen and (max-width: 768px) {
  footer .footer_container {
    flex-wrap: wrap;
    text-align: center;
  }
  footer .footer_container .footer_col#foot_col1 {
    width: 80%;
    margin: auto;
  }
  footer .footer_container .footer_col#foot_col1 img {
    width: 50%;
    margin: auto;
  }
  footer .footer_container .footer_col#foot_col1 ul {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .footer_container .footer_col#foot_col1 ul li {
    width: 25%;
  }
  footer .footer_container .footer_menu {
    margin: auto;
  }
  footer .footer_container .footer_menu .footer_col {
    margin-top: 20px;
  }
  footer .footer_container .footer_menu .footer_col#foot_col4 ul {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer_container .footer_menu .footer_col#foot_col4 ul li {
    width: 80%;
    margin: auto;
  }
  footer .footer_container .footer_menu .footer_col#foot_col4 ul li img {
    width: 80%;
  }
  footer .footer_container .slider_comments {
    position: relative;
    width: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 40px;
  }
  footer .footer_container #foot_col4 h3,
footer .footer_container #foot_col4 ul {
    width: 100% !important;
  }

  .footer_row ul li {
    font-size: 9px !important;
    padding: 2px 2.5px !important;
    margin-top: 0;
  }
}
.success {
  display: flex;
  justify-content: center;
  align-items: center;
}
.success h1 {
  font-size: 45px;
  padding: 300px 0;
}

.container-show {
  padding-top: 30px;
  height: 200vh;
  background-color: orange;
  /* main */
}
.container-show #restaurant-profile .rest-img-background {
  width: 100%;
  height: 45vh;
  background-image: url("https://i.ytimg.com/vi/JqjWaQyKriI/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.container-show #restaurant-profile .rest-info-container {
  display: flex;
  justify-content: center;
  margin-top: -80px;
}
.container-show #restaurant-profile .rest-info-container .rest-info {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin-top: -10%;
  width: 45%;
  margin: auto;
  padding-bottom: 40px;
}
.container-show #restaurant-profile .rest-info-container .rest-info .rest-logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
}
.container-show #restaurant-profile .rest-info-container .rest-info .rest-logo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: -50%;
}
.container-show #restaurant-profile .rest-info-container .rest-info .rest-info-content {
  text-align: center;
}
.container-show #restaurant-profile .rest-info-container .rest-info .rest-info-content h2 {
  padding-bottom: 25px;
}
.container-show #restaurant-profile .rest-info-container .rest-info .rest-info-content h3 {
  padding-bottom: 10px;
}
.container-show main {
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
  /* selection */
  /* restaurant menu */
}
.container-show main .side_col {
  display: flex;
  text-align: center;
  background-color: white;
  width: 18%;
  padding: 20px;
  border-radius: 15px;
  margin-top: -40px;
}
.container-show main #left_col_index .food-selection-container {
  width: 100%;
}
.container-show main #center_col_menu {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 140px;
  border-radius: 15px;
  background-color: white;
}
.container-show main #center_col_menu .center_col_menu {
  width: 600px;
  border-radius: 15px;
  padding: 0 25px;
}
.container-show main #center_col_menu .center_col_menu h2 {
  margin-top: 20px;
  text-align: center;
}
.container-show main #center_col_menu .center_col_menu .rest-menu-item {
  border-radius: 15px;
  border: 2px solid #F6b425;
  padding: 10px 15px;
  margin: 25px 0;
}
.container-show main #center_col_menu .center_col_menu .rest-menu-item .food-price {
  padding-top: 10px;
  color: #F67F41;
}
.container-show main #right_col_cart .cart-container {
  width: 100%;
  padding: 10px 0;
}
.container-show main #right_col_cart .cart-container ul li {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
.container-show main #right_col_cart .cart-container .total {
  margin-top: 30px;
}
.container-show main #right_col_cart .cart-container .total hr {
  margin: 10px 0 20px 0;
}
.container-show .addCart {
  display: flex;
  align-items: center;
}
.container-show .addCart i {
  background-color: #ffed4a;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #6574cd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all;
  cursor: pointer;
}
.container-show .addCart i:hover {
  background-color: #f6993f;
}
.container-show .addCart .display {
  margin: 0 15px;
}
