* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.banner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #6574cd;
}

.banner .container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.banner .container p,
.banner .container .closeBanner {
  padding: 20px 0;
  color: white;
}

.banner .container .closeBanner {
  cursor: pointer;
}

.bannerDisplayNone {
  display: none;
}

.navbar {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 5%;
  top: 70px;
}

.navbar .logo {
  display: inline-block;
  width: 15%;
  height: 60px;
  margin: 0 20px;
  background-color: blue;
}

.navbar .logo img {
  width: 100%;
}

.navbar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar nav ul li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  color: white;
  padding: 0 20px;
}

.navbar nav ul li .fa-chevron-down {
  font-size: 15px;
  padding-left: 5px;
}

.navbar nav .nav_login {
  margin-right: 20px;
}

.btn_primary {
  padding: 8px 12px;
  border: solid black 2px;
  border-radius: 5px;
  background-color: yellow;
}

#jumbotron {
  background-image: url("https://wallpaperaccess.com/full/462860.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

#jumbotron .jumbo-content {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 25px;
  text-align: center;
}

#jumbotron .jumbo-content h1 {
  font-size: 36px;
  color: #fff;
}

#jumbotron .jumbo-content h2 {
  padding: 25px;
  color: #fff;
}

#jumbotron .jumbo-content .input-jumbotron-container input {
  border: 2px solid #fff;
  background: transparent;
  width: 250px;
  height: 36px;
  border-radius: 25px;
  transition: all 0.3s 0.4s;
  color: #fff;
  padding: 10px;
}

#jumbotron .jumbo-content .input-jumbotron-container input::-moz-placeholder {
  color: white;
}

#jumbotron .jumbo-content .input-jumbotron-container input:-ms-input-placeholder {
  color: white;
}

#jumbotron .jumbo-content .input-jumbotron-container input::placeholder {
  color: white;
}

#jumbotron .jumbo-content .input-jumbotron-container input:focus {
  outline: 0;
}

#introduction {
  background-color: #F8DC2A;
  padding: 50px 0;
}

#introduction .content {
  width: 60%;
  margin: auto;
  text-align: center;
}

#introduction .content h2 {
  color: #F67F41;
  font-size: 36px;
}

#introduction .content p {
  padding: 20px;
  font-size: 19px;
  color: #F6b425;
}

#presentation {
  background-color: #01CF1E;
}

#presentation .content {
  width: 85%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#presentation .content .box {
  width: 30%;
  height: 300px;
  background-color: #2BA4C3;
}

#presentation .content .box .box_content {
  padding: 30px;
}

#presentation .content .box .box_content p {
  margin-top: 50px;
}

#presentation .content .box .box_content p.img {
  background-color: black;
  color: white;
  width: 80%;
  height: 100px;
  margin: auto;
}


